<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<link rel="stylesheet"  type="text/css" href="../../static/css/w3.css" th:href="@{/css/w3.css}" />
</head>	

<body>
	<div th:fragment="header" class="w3-bar w3-blue">
	
	<div th:if="${null== session.currentUser}">
	
	<div th:colspan="100" >
   	 <table>
    	<tr>
    		<td><a href="/register/" class="w3-bar-item w3-button">Register</a> </td>
		</tr>
    </table>
    </div>
   </div> 
    
	<div th:if="${null!= session.currentUser}">
	
	<div th:colspan="100" >
   	 <table>
    	<tr>
    		<td><a th:href="@{/register/search}">users</a> </td>
			<td><a th:href="@{/roles/}">new role</a> </td>
			<td><a th:href="@{/roles/search}">roles</a> </td>
			<td><a th:href="@{/users/}"> User-Roles </a> </td>
			<td><a th:href="@{/users/search}"> All User-Roles </a> </td>
			
			<td></td>
			<td><p th:text="${session.currentUser}"></p></td>
					
			<td></td>
			<td><input type="submit" value="Sign Out"/></td>
		</tr>
    </table>
    </div>
    </div>
   
   </div>
</body>

</html>