<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Roles</title>
    </head>
<body>
	<div th:fragment="content">	
		<div align="center"><label style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;"><h2>User Registration Form</h2></label></div>
    	<div align="center" >
    	<form autocomplete="off" action="#" th:action="@{create}" th:object="${roles}" method="post">
            
            <table>
                <tr>
                    <td><p style="font-family:georgia,garamond,serif;font-size:14px;font-style:italic;"> Role Id:</p></td>
                    <td><input type="text" th:size="20" th:field="*{roleId}" /></td>
                    <td th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}" style="color: red" ></td>	
                 </tr>
                
                <tr>
                    <td><p style="font-family:georgia,garamond,serif;font-size:14px;font-style:italic;">Role Name:</p></td>
                    <td><input type="text" th:size="20" th:field="*{roleName}" /></td>
                    <td th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}" style="color: red" ></td>	
                 </tr>
                
                <tr>
                    <td><p style="font-family:georgia,garamond,serif;font-size:14px;font-style:italic;">Description:</p></td>
                    <td><textarea cols="50" rows="4" th:field="*{description}" > </textarea> </td>
                    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red" ></td>	
                 </tr>
                 <tr>
                 	<td>
                 		<input type="submit" value="Submit"/>
                 	</td>
                 	<td>
                 		<input type="reset" value="Clear" />
                 	</td>
                 	
                 </tr>
    		</table>
    	</form>
    </div>    
	
</div>

</body>
</html>